# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Logs
*.log
*.trace.db
*.mv.db

# OS
.DS_Store
Thumbs.db

# Application
application-local.properties